<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        [class.is-invalid]="username.invalid && username.touched"
        formControlName="username"
        type="text"
        class="form-control"
      />
      <div *ngIf="username.invalid && username.touched">
        <small *ngIf="username.errors?.required" class="text-danger"
          >Username is required</small
        >
        <small *ngIf="username.errors?.minlength" class="text-danger"
          >Username must be at least 3 characters</small
        ><small *ngIf="username.errors?.forbiddenName" class="text-danger"
          >{{ username.errors?.forbiddenName.value }} is forbidden</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <button
        (click)="addAlternateEmail()"
        type="button"
        class="btn btn-secondary btn-sm m-2"
      >
        Add additional email
      </button>
      <div
        formArrayName="alternateEmails"
        *ngFor="let email of alternateEmails.controls; let i = index"
      >
        <input
          [formControlName]="i"
          type="text"
          name="alternate-{{ i + 1 }}"
          id="alternate-{{ i + 1 }}"
          class="form-control my-1"
        />
      </div>
      <input
        [class.is-invalid]="email.invalid && email.touched"
        formControlName="email"
        type="text"
        name="email"
        id="email"
        class="form-control"
      />
      <small class="text-danger" [class.d-none]="email.valid || email.untouched"
        >Email must be provided for promotional offer</small
      >
    </div>

    <div class="form-check mb-3">
      <input
        formControlName="promotional"
        type="checkbox"
        name="promotional"
        id="promotional"
        class="form-check-input"
      />
      <label for="promotional" class="form-check-label"
        >Send me promotional offers</label
      >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        name="password"
        id="password"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        [class.is-invalid]="registrationForm.errors?.misMatch"
        type="password"
        formControlName="confirmPassword"
        name="confirmPassword"
        id="confirmPassword"
        class="form-control"
      />
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch"
        >Passwords do not match</small
      >
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label for="city"
          >City<input
            formControlName="city"
            type="text"
            name="city"
            id="city"
            class="form-control"
        /></label>
      </div>
      <div class="form-group">
        <label for="state"
          >State<input
            formControlName="state"
            type="text"
            name="state"
            id="state"
            class="form-control"
        /></label>
      </div>
      <div class="form-group">
        <label for="postalCode"
          >Postal Code<input
            formControlName="postalCode"
            type="text"
            name="postalCode"
            id="postalCode"
            class="form-control"
        /></label>
      </div>
    </div>
    <button
      [disabled]="!registrationForm.valid"
      class="btn btn-primary"
      type="submit"
    >
      Register
    </button>
    <button
      (click)="loadApiData()"
      class="btn btn-secondary ml-2"
      type="button"
    >
      Load API Data
    </button>
  </form>
  {{ registrationForm.value | json }}
</div>
